<ul class="menu">
    {% for ellie in site.data.menu %}
        {% if steve.subcategories != null %}
        <li><a href="{{ ellie.href }}" class="page-link">{{ ellie.title }}</a>
        </li>
        <ul class="sub-menu">
        {% for subcategory in ellie.subcategories %}
        <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
         <li><a href="{{ ellie.href }}" class="page-link">{{ ellie.title }}</a>
        {% endif %}
        </li>
        {% endfor %}
</ul>